{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Toutes les séries de la table program :
	</h1>

	<h2>
		{{category.id}}
		Catégorie:
		{{category.name}}</h2>
	{% for program in programs %}

		<section>
			<div class="card" style="width: 18rem;">
				<img src="{{ program.poster }}" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title">{{ loop.index }}
						/
						{{ program.title }}</h5>
					<p class="card-text">
						category:
						{{ program.category.name }}<br>

						Synopsis:
						{{ program.synopsis }}</p>
					<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>

			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
	</section>
	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
